.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    background-color: lightskyblue;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 3px solid black; */
  }
  
  .about-us-content {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    background-color: darkolivegreen;
  }
  
  .about-us-content h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-us-content p {
    color:black;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  